/* ==========================================================================
   LAYOUT
   ========================================================================== */

*, *:before, *:after {
   @include box-sizing(border-box);
}

@mixin block {
	max-width: $fixed-width;
	margin: 0px auto;
	padding: 0px $gutter;
}

.row {
	margin: 0px;
}

.third {
	@include column(4);
	@include column(12,12,$breakpoint-1-max-width);
	padding: 0px;
}