/* ==========================================================================
   NAVIGATION
   ========================================================================== */

$h: 120px;

@media screen and (max-width: $breakpoint-1-max-width) {
	.nav {
		display: none;
	}
}

.nav {
	float: right;
}
.nav__list {
	margin: 0px;
}
.nav__item {
	display: inline-block;
	margin-left: $gutter/2;
}
.nav__link {
	display: block;
	height: $h;
	line-height: $h;
	text-decoration: none;
	position: relative;
	color: $gray;
	&:hover {
		color: $primary;
		&:after {
			content: '';
			height: 4px;
			bottom: 4px;
			width: 100%;
			display: block;
			background: $primary;
			left: 0px; 
			right: 0px;
		}
	}
}

.nav__item--primary a {
	&:hover {
		color: $primary;
		&:after {
			background: $primary;
		}
	}
}
.nav__item--secondary a {
	&:hover {
		color: $secondary;
		&:after {
			background: $secondary;
		}
	}
}
.nav__item--tertiary a {
	&:hover {
		color: $tertiary;
		&:after {
			background: $tertiary;
		}
	}
}