/* yeovilacupuncture.co.uk by @cityandwool
*/
/* line 17, ../../../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../../../RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* ========================================================================== VARIABLES ========================================================================== */
/* Medium */
/* Large */
/* ========================================================================== MIXINS ========================================================================== */
/* line 21, ../sass/generic/_mixins.scss */
.links, .row, .third, .header, .header__wrap, .service-content ul { zoom: 1; }
/* line 23, ../sass/generic/_mixins.scss */
.links:before, .row:before, .third:before, .header:before, .header__wrap:before, .service-content ul:before, .links:after, .row:after, .third:after, .header:after, .header__wrap:after, .service-content ul:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
/* line 29, ../sass/generic/_mixins.scss */
.links:after, .row:after, .third:after, .header:after, .header__wrap:after, .service-content ul:after { clear: both; }

/* line 34, ../sass/generic/_mixins.scss */
.links__item:after { font-family: FontAwesome; }

/* ========================================================================== TYPE ========================================================================== */
/* line 5, ../sass/base/_type.scss */
body { font-family: 'Montserrat'; }

/* line 11, ../sass/base/_type.scss */
.links__item:after { font-family: FontAwesome; }

/* line 14, ../sass/base/_type.scss */
.hero { text-align: center; }

/* line 17, ../sass/base/_type.scss */
.hero__title { font-size: 40px; text-transform: uppercase; margin-bottom: 10px; }

/* line 23, ../sass/base/_type.scss */
.hero__sub { font-family: Georgia; font-weight: normal; font-style: italic; font-size: 16px; margin-bottom: 40px; }

/* line 31, ../sass/base/_type.scss */
.service-content h3 { font-size: 20px; color: #1dd2af; margin-bottom: 20px; }
/* line 36, ../sass/base/_type.scss */
.service-content p { color: #999999; margin-bottom: 20px; line-height: 24px; }

/* ========================================================================== BUTTONS ========================================================================== */
/* line 5, ../sass/components/_buttons.scss */
.hero__link, .btn { display: inline-block; padding: 10px 20px; margin-bottom: 10px; border-width: 1px; border-style: solid; border-color: #1dd2af; text-decoration: none; color: #1dd2af; }
/* line 13, ../sass/components/_buttons.scss */
.hero__link:hover, .btn:hover { border-color: #1dd2af; background: #1dd2af; color: white; }

/* line 20, ../sass/components/_buttons.scss */
.hero__link { margin: 0px 5px; }

/* line 25, ../sass/components/_buttons.scss */
.btn { margin-right: 5px; margin-bottom: 10px; }

/* line 32, ../sass/components/_buttons.scss */
.third--primary .btn { color: #1dd2af; border-color: #1dd2af; }
/* line 35, ../sass/components/_buttons.scss */
.third--primary .btn:hover { color: white; border-color: #1dd2af; background: #1dd2af; }

/* line 43, ../sass/components/_buttons.scss */
.third--secondary .btn { color: #2ecc71; border-color: #2ecc71; }
/* line 46, ../sass/components/_buttons.scss */
.third--secondary .btn:hover { color: white; border-color: #2ecc71; background: #2ecc71; }

/* line 54, ../sass/components/_buttons.scss */
.third--tertiary .btn { color: #3498db; border-color: #3498db; }
/* line 57, ../sass/components/_buttons.scss */
.third--tertiary .btn:hover { color: white; border-color: #3498db; background: #3498db; }

/* line 65, ../sass/components/_buttons.scss */
.links { margin: 0px 0px 20px 0px; padding: 20px; }

/* line 70, ../sass/components/_buttons.scss */
.links__item { display: inline-block; height: 80px; width: 80px; line-height: 80px; text-align: center; background: #999999; float: left; position: relative; }
/* line 80, ../sass/components/_buttons.scss */
.links__item:after { position: absolute; pointer-events: none; top: 0px; left: 0px; display: block; height: 80px; width: 80px; line-height: 80px; text-align: center; content: ''; color: white; font-size: 40px; }
/* line 95, ../sass/components/_buttons.scss */
.links__item.links__item--facebook { background: #3b5998; }
/* line 96, ../sass/components/_buttons.scss */
.links__item.links__item--facebook:after { content: '\f09a'; }
/* line 100, ../sass/components/_buttons.scss */
.links__item.links__item--facebook:hover { background: #344e86; }
/* line 104, ../sass/components/_buttons.scss */
.links__item.links__item--twitter { background: #00aced; }
/* line 105, ../sass/components/_buttons.scss */
.links__item.links__item--twitter:after { content: '\f099'; }
/* line 109, ../sass/components/_buttons.scss */
.links__item.links__item--twitter:hover { background: #0099d3; }
/* line 113, ../sass/components/_buttons.scss */
.links__item.links__item--bac { background: #3498db; }
/* line 114, ../sass/components/_buttons.scss */
.links__item.links__item--bac:after { content: '\f19c'; }
/* line 118, ../sass/components/_buttons.scss */
.links__item.links__item--bac:hover { background: #258cd1; }

/* line 123, ../sass/components/_buttons.scss */
.links__link { color: white; text-decoration: none; display: block; text-indent: -9999px; }

/* ========================================================================== GRID ========================================================================== */
/* line 7, ../sass/structure/_grid.scss */
.row { display: block; margin: 0 -10px; box-sizing: border-box; }

/* ========================================================================== LAYOUT ========================================================================== */
/* line 5, ../sass/structure/_layout.scss */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 15, ../sass/structure/_layout.scss */
.row { margin: 0px; }

/* line 19, ../sass/structure/_layout.scss */
.third { display: inline; float: left; width: 33.33333%; padding: 0 10px; box-sizing: border-box; padding: 0px; }
@media screen and (max-width: 48em) { /* line 19, ../sass/structure/_layout.scss */
  .third { width: 100%; } }

/* ========================================================================== HEADER ========================================================================== */
/* line 5, ../sass/structure/_header.scss */
.header { position: relative; margin-bottom: 4px; }
/* line 9, ../sass/structure/_header.scss */
.header:after { content: ''; position: absolute; left: 0px; right: 0px; bottom: -4px; width: 100%; height: 4px; background: rgba(0, 0, 0, 0.1); }

/* line 20, ../sass/structure/_header.scss */
.header__wrap { max-width: 1024px; margin: 0px auto; padding: 0px 20px; }

/* line 24, ../sass/structure/_header.scss */
.header__title { display: block; height: 50px; width: 69px; background: url("../img/naomi-ryland-yeovil-acpuncturist-logo.png"); -webkit-background-size: 69px; -moz-background-size: 69px; -o-background-size: 69px; background-size: 69px; text-indent: -9999px; margin: 34px 0px 30px 0px; float: left; }

@media screen and (max-width: 48em) { /* line 37, ../sass/structure/_header.scss */
  .header__wrap { height: 114px; }
  /* line 40, ../sass/structure/_header.scss */
  .header__title { margin: 34px auto 30px auto; float: none; } }
/* ========================================================================== NAVIGATION ========================================================================== */
@media screen and (max-width: 48em) { /* line 8, ../sass/structure/_nav.scss */
  .nav { display: none; } }
/* line 13, ../sass/structure/_nav.scss */
.nav { float: right; }

/* line 16, ../sass/structure/_nav.scss */
.nav__list { margin: 0px; }

/* line 19, ../sass/structure/_nav.scss */
.nav__item { display: inline-block; margin-left: 10px; }

/* line 23, ../sass/structure/_nav.scss */
.nav__link { display: block; height: 120px; line-height: 120px; text-decoration: none; position: relative; color: #999999; }
/* line 30, ../sass/structure/_nav.scss */
.nav__link:hover { color: #1dd2af; }
/* line 32, ../sass/structure/_nav.scss */
.nav__link:hover:after { content: ''; height: 4px; bottom: 4px; width: 100%; display: block; background: #1dd2af; left: 0px; right: 0px; }

/* line 46, ../sass/structure/_nav.scss */
.nav__item--primary a:hover { color: #1dd2af; }
/* line 48, ../sass/structure/_nav.scss */
.nav__item--primary a:hover:after { background: #1dd2af; }

/* line 54, ../sass/structure/_nav.scss */
.nav__item--secondary a:hover { color: #2ecc71; }
/* line 56, ../sass/structure/_nav.scss */
.nav__item--secondary a:hover:after { background: #2ecc71; }

/* line 62, ../sass/structure/_nav.scss */
.nav__item--tertiary a:hover { color: #3498db; }
/* line 64, ../sass/structure/_nav.scss */
.nav__item--tertiary a:hover:after { background: #3498db; }

/* ========================================================================== MAIN ========================================================================== */
/* line 5, ../sass/structure/_main.scss */
body { background: white; }

/* line 9, ../sass/structure/_main.scss */
a { outline: 0; }

/* line 13, ../sass/structure/_main.scss */
input::-moz-focus-inner, select::-moz-focus-inner { border: 0; }

/* line 17, ../sass/structure/_main.scss */
.hero { margin: 80px 0px; padding: 0px 20px; }

/* line 21, ../sass/structure/_main.scss */
.hero__sub { color: #999999; }

@media screen and (max-width: 48em) { /* line 25, ../sass/structure/_main.scss */
  .hero__title { font-size: 35px; } }
/* line 30, ../sass/structure/_main.scss */
.service { position: relative; height: 300px; }

/* line 34, ../sass/structure/_main.scss */
.service__title { position: absolute; z-index: 10; top: 0px; left: 0px; padding: 15px; }
/* line 40, ../sass/structure/_main.scss */
.service__title h2 { font-size: 22px; color: white; }

/* line 45, ../sass/structure/_main.scss */
.service__sub { position: absolute; z-index: 10; bottom: 20px; left: 20px; right: 20px; color: white; line-height: 24px; }

/* line 54, ../sass/structure/_main.scss */
.service__wrap { position: relative; overflow: hidden; height: 100%; }

/* line 59, ../sass/structure/_main.scss */
.service__color { position: absolute; z-index: 5; top: 0px; bottom: 0px; left: 0px; right: 0px; height: 100%; width: 100%; }

/* line 69, ../sass/structure/_main.scss */
.service__image { position: absolute; z-index: 4; min-width: 100%; min-height: 100%; }

/* line 75, ../sass/structure/_main.scss */
.service-content { background: #fafafa; padding: 30px; }
/* line 78, ../sass/structure/_main.scss */
.service-content ul { margin-bottom: 20px; font-size: 12px; }
/* line 82, ../sass/structure/_main.scss */
.service-content ul li { color: #999999; line-height: 24px; float: left; display: inline-block; margin-right: 10px; }

/* line 94, ../sass/structure/_main.scss */
.third--primary .service__title { background: #1dd2af; }
/* line 105, ../sass/structure/_main.scss */
.third--primary .service__color { background-color: #16a085; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }

/* line 94, ../sass/structure/_main.scss */
.third--secondary .service__title { background: #2ecc71; }
/* line 105, ../sass/structure/_main.scss */
.third--secondary .service__color { background-color: #27ae60; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }

/* line 94, ../sass/structure/_main.scss */
.third--tertiary .service__title { background: #3498db; }
/* line 105, ../sass/structure/_main.scss */
.third--tertiary .service__color { background-color: #2980b9; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }

/* ========================================================================== FOOTER ========================================================================== */
